In [33]:
import pandas as pd
import numpy as np

# Series and Dataframes

### The pandas library has two main objects which serve as containers for our data:

#### 1.a one-dimensional labeled array called Series
#### 2.a two-dimensional labeled array called DataFrame

## Series

In [3]:
my_Series = pd.Series([1,'cat',10.2,'dog'])

0       1
1     cat
2    10.2
3     dog
dtype: object

In [ ]:
my_Series

In [5]:
my_Series[1]

'cat'

In [8]:
ages = pd.Series([20,53,68], index=['John', 'Allen', 'Mary'])

In [9]:
ages

John     20
Allen    53
Mary     68
dtype: int64

In [10]:
ages['John']

20

In [12]:
# Users of R or Excel might recognize this as something that looks like a data table. 
# And indeed, this is the purpose of the index. 
#In order to get the full functionality of a data table, however, we need to allow more than one axis.

# Dataframes

The general syntax for defining a DataFrame is the following:

pd.DataFrame({ 'label1' : [col1], 'label2': [col2], .... })

In [13]:
df = pd.DataFrame( {'user' : [1,2,3],
            'age' : [24,54,17],
            'sex' : ['F','F','M'],
            'occupation' : ['technician','musician','student']})

In [14]:
df

   age  occupation sex  user
0   24  technician   F     1
1   54    musician   F     2
2   17     student   M     3

In [15]:
df.set_index('user')

      age  occupation sex
user
1      24  technician   F
2      54    musician   F
3      17     student   M

In [16]:
df

   age  occupation sex  user
0   24  technician   F     1
1   54    musician   F     2
2   17     student   M     3

## Inplace changes

In [17]:
df.set_index('user', inplace = True)

      age  occupation sex
user
1      24  technician   F
2      54    musician   F
3      17     student   M

In [18]:
df

      age  occupation sex
user
1      24  technician   F
2      54    musician   F
3      17     student   M

# Importing data

df = pd.read_csv('file_name.csv')

df = pd.read_csv('file_name.csv', header=None)

df = pd.read_csv('file_name.csv', names=['Header1', 'Header2', ....])

df = pd.read_csv('file_name.csv', na_values=['?'])

df = pd.read_excel('file_name.xls')

Other supported files include JSON, HTML, SAS, and SQL.

# Summarizing data

In [20]:
df

      age  occupation sex
user
1      24  technician   F
2      54    musician   F
3      17     student   M

In [21]:
df.head(2)

      age  occupation sex
user
1      24  technician   F
2      54    musician   F

In [22]:
df.tail(1)

      age occupation sex
user
3      17    student   M

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 3 columns):
age           3 non-null int64
occupation    3 non-null object
sex           3 non-null object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

In [24]:
df.index

Int64Index([1, 2, 3], dtype='int64', name='user')

In [25]:
#displaying the number of rows
df.shape[0]

3

In [26]:
#displaying the number of columns
df.shape[1]

3

In [27]:
#displaying the labels of all the columns
df.columns

Index(['age', 'occupation', 'sex'], dtype='object')

In [28]:
#displaying the data types of each column
df.dtypes

age            int64
occupation    object
sex           object
dtype: object

In [29]:
#summarizing the data
df.describe()

             age
count   3.000000
mean   31.666667
std    19.655364
min    17.000000
25%    20.500000
50%    24.000000
75%    39.000000
max    54.000000

In [31]:
df

      age  occupation sex
user
1      24  technician   F
2      54    musician   F
3      17     student   M

In [32]:
df['occupation']

user
1    technician
2      musician
3       student
Name: occupation, dtype: object

# Manipulating the data

In [35]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b', 'c'])
df

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

## Dropping data

In [36]:
# dropping rowa
df.drop(0, axis=0)

   a  b  c
1  3  4  5
2  6  7  8

In [39]:
# dropping first and second row
df.drop([0,2], axis=0)

   a  b  c
1  3  4  5

In [40]:
# And to drop columns we just specify the label instead of the index 
# and tell pandas we are referring to the second axis now:
df.drop(['b','c'], axis=1)

   a
0  0
1  3
2  6

In [41]:
df

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

## Arithmetic operations

In [42]:
df.a + df.b

0     1
1     7
2    13
dtype: int64

In [43]:
df['a'] + df['b']

0     1
1     7
2    13
dtype: int64

In [44]:
df.a.add(df.b)

0     1
1     7
2    13
dtype: int64

Pandas also provides similar methods for the other operations:

### sub()
### div()
### mul()

## Concatenating DataFrames

In [46]:
df1= pd.DataFrame([['Mark', 50], ['Kate', 46]],
                 columns=['name', 'age'])

In [47]:
df2 = pd.DataFrame([['Jon', 3], ['David', 4]],
                columns=['name', 'age'])

In [48]:
df1

   name  age
0  Mark   50
1  Kate   46

In [49]:
df2

    name  age
0    Jon    3
1  David    4

In [50]:
pd.concat([df1,df2])

    name  age
0   Mark   50
1   Kate   46
0    Jon    3
1  David    4

In [51]:
df3 = pd.DataFrame(['writer', 'journalist'], columns=['occupation'])
df3

   occupation
0      writer
1  journalist

In [52]:
pd.concat([df1,df3])

    age  name  occupation
0  50.0  Mark         NaN
1  46.0  Kate         NaN
0   NaN   NaN      writer
1   NaN   NaN  journalist

In [53]:
pd.concat([df1,df3], axis=1)

   name  age  occupation
0  Mark   50      writer
1  Kate   46  journalist

# Indexing, selecting and filtering

In [57]:
df = pd.read_csv('Mountains.csv', index_col=0)
df

,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Rank,,,,,,,,,,
1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
6,Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
7,Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
8,Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
9,Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
10,Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0
11,Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16.0
12,Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957,39,19.0
13,Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12.0
14,Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964,43,19.0
15,Gyachung Kang,7952,26089,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964,5,3.0
110,Gasherbrum III,7946,26070,355,Baltoro Karakoram,35°45′33″N 76°38′30″E﻿,Gasherbrum II,1975,2,2.0
16,Annapurna II,7937,26040,2437,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿,Annapurna I,1960,6,19.0
17,Gasherbrum IV,7932,26024,715,Baltoro Karakoram,35°45′38″N 76°36′58″E﻿,Gasherbrum III,1958,4,11.0
18,Himalchuli,7893,25896,1633,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿,Manaslu,1960,6,12.0
19,Distaghil Sar,7884,25866,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2,1960,3,5.0
20,Ngadi Chuli,7871,25823,1020,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿,Manaslu,1970,2,6.0
111,Nuptse,7864,25801,319,Mahalangur Himalaya,27°58′03″N 86°53′13″E﻿,Lhotse,1961,5,12.0
21,Khunyang Chhish,7823,25666,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971,2,6.0
22,Masherbrum / K1,7821,25659,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I,1960,4,9.0
23,Nanda Devi,7816,25643,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936,14,12.0
24,Chomo Lonzo,7804,25604,590,Mahalangur Himalaya,27°55′50″N 87°06′28″E﻿,Makalu,1954,3,1.0
25,Batura Sar,7795,25574,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976,4,6.0
26,Kanjut Sar,7790,25558,1690,Hispar Karakoram,36°12′20″N 75°25′01″E﻿,Khunyang Chhish,1959,2,1.0
27,Rakaposhi,7788,25551,2818,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿,Khunyang Chhish,1958,8,13.0
28,Namcha Barwa,7782,25531,4106,Assam Himalaya,29°37′52″N 95°03′19″E﻿,Kangchenjunga,1992,1,2.0
...,...,...,...,...,...,...,...,...,...,...
81,Chongtar,7315,23999,1300,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿,Skil Brum,1994,1,1.0
82,Baltoro Kangri,7312,23990,1200,Masherbrum Karakoram,35°38′21″N 76°40′24″E﻿,Chogolisa,1976,1,0.0
83,Siguang Ri,7309,23980,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu,1989,2,1.0
84,The Crown / Huang Guan,7295,23934,1919,Yengisogat Karakoram,36°06′24″N 76°12′21″E﻿,Skil Brum (K2),1993,1,3.0
85,Gyala Peri,7294,23930,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest,1986,1,0.0
86,Porong Ri,7292,23924,520,Langtang Himalaya,28°23′22″N 85°43′12″E﻿,Shisha Pangma,1982,5,0.0
87,Baintha Brakk / The Ogre,7285,23901,1891,Panmah Karakoram,35°56′51″N 75°45′12″E﻿,Kanjut Sar,1977,3,13.0
88,Yutmaru Sar,7283,23894,620,Hispar Karakoram,36°13′35″N 75°22′02″E﻿,Yukshin Gardan Sar,1980,1,1.0
89,Baltistan Peak / K6,7282,23891,1962,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿,Chogolisa,1970,1,3.0
90,Kangpenqing / Gang Benchhen,7281,23888,1340,Baiku Himalaya,28°33′03″N 85°32′44″E﻿,Shisha Pangma,1982,1,1.0
91,Muztagh Tower,7276,23871,1710,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿,Skil Brum,1956,4,2.0
92,Mana Peak,7272,23858,730,Garhwal Himalaya,30°52′50″N 79°36′55″E﻿,Kamet,1937,7,3.0
118,Dhaulagiri VI,7268,23845,485,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿,Dhaulagiri IV,1970,5,0.0
93,Diran,7266,23839,1325,Rakaposhi-Haramosh Karakoram,36°07′13″N 74°39′42″E﻿,Malubiting,1968,12,8.0
94,Labuche Kang III / East,7250,23786,570,Labuche Himalaya,28°18′05″N 86°23′02″E﻿,Labuche Kang,unclimbed,0,0.0
95,Putha Hiunchuli,7246,23773,1151,Dhaulagiri Himalaya,28°44′52″N 83°08′46″E﻿,Churen Himal,1954,11,5.0
96,Apsarasas Kangri,7245,23770,635,Siachen Karakoram,35°32′19″N 77°08′55″E﻿,Teram Kangri I,1976,2,0.0
97,Mukut Parbat,7242,23760,840,Garhwal Himalaya,30°56′57″N 79°34′12″E﻿,Kamet,1951,2,1.0
98,Rimo III,7233,23730,615,Rimo Karakoram,35°22′31″N 77°21′42″E﻿,Rimo I,1985,1,0.0
99,Langtang Lirung,7227,23711,1525,Langtang Himalaya,28°15′22″N 85°31′01″E﻿,Shisha Pangma,1978,14,13.0
100,Karjiang,7221,23691,880,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿,Kula Kangri,unclimbed,0,2.0
101,Annapurna Dakshin,7219,23684,775,Annapurna Himalaya,28°31′06″N 83°48′22″E﻿,Annapurna,1964,10,16.0
102,Khartaphu,7213,23665,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest,1935,1,0.0
103,Tongshanjiabu,7207,23645,1757,Lunana Himalaya,28°11′12″N 89°57′27″E﻿,Gangkar Puensum,unclimbed,0,0.0
104,Malangutti Sar,7207,23645,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar,1985,1,0.0
105,Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986,4,1.0
106,Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
107,Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002,1,0.0
108,Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0
109,Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979,1,0.0

In [58]:
df.set_index('Mountain', inplace=True)
df

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0
Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16.0
Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957,39,19.0
Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12.0
Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964,43,19.0
Gyachung Kang,7952,26089,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964,5,3.0
Gasherbrum III,7946,26070,355,Baltoro Karakoram,35°45′33″N 76°38′30″E﻿,Gasherbrum II,1975,2,2.0
Annapurna II,7937,26040,2437,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿,Annapurna I,1960,6,19.0
Gasherbrum IV,7932,26024,715,Baltoro Karakoram,35°45′38″N 76°36′58″E﻿,Gasherbrum III,1958,4,11.0
Himalchuli,7893,25896,1633,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿,Manaslu,1960,6,12.0
Distaghil Sar,7884,25866,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2,1960,3,5.0
Ngadi Chuli,7871,25823,1020,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿,Manaslu,1970,2,6.0
Nuptse,7864,25801,319,Mahalangur Himalaya,27°58′03″N 86°53′13″E﻿,Lhotse,1961,5,12.0
Khunyang Chhish,7823,25666,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971,2,6.0
Masherbrum / K1,7821,25659,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I,1960,4,9.0
Nanda Devi,7816,25643,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936,14,12.0
Chomo Lonzo,7804,25604,590,Mahalangur Himalaya,27°55′50″N 87°06′28″E﻿,Makalu,1954,3,1.0
Batura Sar,7795,25574,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976,4,6.0
Kanjut Sar,7790,25558,1690,Hispar Karakoram,36°12′20″N 75°25′01″E﻿,Khunyang Chhish,1959,2,1.0
Rakaposhi,7788,25551,2818,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿,Khunyang Chhish,1958,8,13.0
Namcha Barwa,7782,25531,4106,Assam Himalaya,29°37′52″N 95°03′19″E﻿,Kangchenjunga,1992,1,2.0
...,...,...,...,...,...,...,...,...,...
Chongtar,7315,23999,1300,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿,Skil Brum,1994,1,1.0
Baltoro Kangri,7312,23990,1200,Masherbrum Karakoram,35°38′21″N 76°40′24″E﻿,Chogolisa,1976,1,0.0
Siguang Ri,7309,23980,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu,1989,2,1.0
The Crown / Huang Guan,7295,23934,1919,Yengisogat Karakoram,36°06′24″N 76°12′21″E﻿,Skil Brum (K2),1993,1,3.0
Gyala Peri,7294,23930,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest,1986,1,0.0
Porong Ri,7292,23924,520,Langtang Himalaya,28°23′22″N 85°43′12″E﻿,Shisha Pangma,1982,5,0.0
Baintha Brakk / The Ogre,7285,23901,1891,Panmah Karakoram,35°56′51″N 75°45′12″E﻿,Kanjut Sar,1977,3,13.0
Yutmaru Sar,7283,23894,620,Hispar Karakoram,36°13′35″N 75°22′02″E﻿,Yukshin Gardan Sar,1980,1,1.0
Baltistan Peak / K6,7282,23891,1962,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿,Chogolisa,1970,1,3.0
Kangpenqing / Gang Benchhen,7281,23888,1340,Baiku Himalaya,28°33′03″N 85°32′44″E﻿,Shisha Pangma,1982,1,1.0
Muztagh Tower,7276,23871,1710,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿,Skil Brum,1956,4,2.0
Mana Peak,7272,23858,730,Garhwal Himalaya,30°52′50″N 79°36′55″E﻿,Kamet,1937,7,3.0
Dhaulagiri VI,7268,23845,485,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿,Dhaulagiri IV,1970,5,0.0
Diran,7266,23839,1325,Rakaposhi-Haramosh Karakoram,36°07′13″N 74°39′42″E﻿,Malubiting,1968,12,8.0
Labuche Kang III / East,7250,23786,570,Labuche Himalaya,28°18′05″N 86°23′02″E﻿,Labuche Kang,unclimbed,0,0.0
Putha Hiunchuli,7246,23773,1151,Dhaulagiri Himalaya,28°44′52″N 83°08′46″E﻿,Churen Himal,1954,11,5.0
Apsarasas Kangri,7245,23770,635,Siachen Karakoram,35°32′19″N 77°08′55″E﻿,Teram Kangri I,1976,2,0.0
Mukut Parbat,7242,23760,840,Garhwal Himalaya,30°56′57″N 79°34′12″E﻿,Kamet,1951,2,1.0
Rimo III,7233,23730,615,Rimo Karakoram,35°22′31″N 77°21′42″E﻿,Rimo I,1985,1,0.0
Langtang Lirung,7227,23711,1525,Langtang Himalaya,28°15′22″N 85°31′01″E﻿,Shisha Pangma,1978,14,13.0
Karjiang,7221,23691,880,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿,Kula Kangri,unclimbed,0,2.0
Annapurna Dakshin,7219,23684,775,Annapurna Himalaya,28°31′06″N 83°48′22″E﻿,Annapurna,1964,10,16.0
Khartaphu,7213,23665,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest,1935,1,0.0
Tongshanjiabu,7207,23645,1757,Lunana Himalaya,28°11′12″N 89°57′27″E﻿,Gangkar Puensum,unclimbed,0,0.0
Malangutti Sar,7207,23645,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar,1985,1,0.0
Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986,4,1.0
Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002,1,0.0
Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0
Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979,1,0.0

In [59]:
df.index

Index(['Mount Everest / Sagarmatha / Chomolungma',
       'K2 / Qogir / Godwin Austen', 'Kangchenjunga', 'Lhotse', 'Makalu',
       'Cho Oyu', 'Dhaulagiri I', 'Manaslu', 'Nanga Parbat', 'Annapurna I',
       ...
       'Karjiang', 'Annapurna Dakshin', 'Khartaphu', 'Tongshanjiabu',
       'Malangutti Sar', 'Noijin Kangsang / Norin Kang', 'Langtang Ri',
       'Kangphu Kang', 'Singhi Kangri', 'Lupghar Sar'],
      dtype='object', name='Mountain', length=118)

In [60]:
df.columns

Index(['Height (m)', 'Height (ft)', 'Prominence (m)', 'Range', 'Coordinates',
       'Parent mountain', 'First ascent', 'Ascents bef. 2004',
       'Failed attempts bef. 2004'],
      dtype='object')

In [61]:
df.Range

Mountain
Mount Everest / Sagarmatha / Chomolungma             Mahalangur Himalaya
K2 / Qogir / Godwin Austen                             Baltoro Karakoram
Kangchenjunga                                     Kangchenjunga Himalaya
Lhotse                                               Mahalangur Himalaya
Makalu                                               Mahalangur Himalaya
Cho Oyu                                              Mahalangur Himalaya
Dhaulagiri I                                         Dhaulagiri Himalaya
Manaslu                                                 Manaslu Himalaya
Nanga Parbat                                       Nanga Parbat Himalaya
Annapurna I                                           Annapurna Himalaya
Gasherbrum I / Hidden Peak / K5                        Baltoro Karakoram
Broad Peak / K3                                        Baltoro Karakoram
Gasherbrum II / K4                                     Baltoro Karakoram
Shishapangma                                              Jugal Himalaya
Gyachung Kang                                        Mahalangur Himalaya
Gasherbrum III                                         Baltoro Karakoram
Annapurna II                                          Annapurna Himalaya
Gasherbrum IV                                          Baltoro Karakoram
Himalchuli                                              Manaslu Himalaya
Distaghil Sar                                           Hispar Karakoram
Ngadi Chuli                                             Manaslu Himalaya
Nuptse                                               Mahalangur Himalaya
Khunyang Chhish                                         Hispar Karakoram
Masherbrum / K1                                     Masherbrum Karakoram
Nanda Devi                                              Garhwal Himalaya
Chomo Lonzo                                          Mahalangur Himalaya
Batura Sar                                              Batura Karakoram
Kanjut Sar                                              Hispar Karakoram
Rakaposhi                                   Rakaposhi-Haramosh Karakoram
Namcha Barwa                                              Assam Himalaya
                                                        ...
Chongtar                                               Baltoro Karakoram
Baltoro Kangri                                      Masherbrum Karakoram
Siguang Ri                                           Mahalangur Himalaya
The Crown / Huang Guan                              Yengisogat Karakoram
Gyala Peri                                                Assam Himalaya
Porong Ri                                              Langtang Himalaya
Baintha Brakk / The Ogre                                Panmah Karakoram
Yutmaru Sar                                             Hispar Karakoram
Baltistan Peak / K6                                 Masherbrum Karakoram
Kangpenqing / Gang Benchhen                               Baiku Himalaya
Muztagh Tower                                          Baltoro Karakoram
Mana Peak                                               Garhwal Himalaya
Dhaulagiri VI                                        Dhaulagiri Himalaya
Diran                                       Rakaposhi-Haramosh Karakoram
Labuche Kang III / East                                 Labuche Himalaya
Putha Hiunchuli                                      Dhaulagiri Himalaya
Apsarasas Kangri                                       Siachen Karakoram
Mukut Parbat                                            Garhwal Himalaya
Rimo III                                                  Rimo Karakoram
Langtang Lirung                                        Langtang Himalaya
Karjiang                                            Kula Kangri Himalaya
Annapurna Dakshin                                     Annapurna Himalaya
Khartaphu                                            Mahalangur Himalaya
Tongshanjiabu                                            Lunana Himalaya
Malangutti Sar                                          Hispar Karakoram
Noijin Kangsang / Norin Kang                            Nagarze Himalaya
Langtang Ri                                            Langtang Himalaya
Kangphu Kang                                             Lunana Himalaya
Singhi Kangri                                          Siachen Karakoram
Lupghar Sar                                             Hispar Karakoram
Name: Range, Length: 118, dtype: object

In [62]:
df['Height (m)']

Mountain
Mount Everest / Sagarmatha / Chomolungma    8848
K2 / Qogir / Godwin Austen                  8611
Kangchenjunga                               8586
Lhotse                                      8516
Makalu                                      8485
Cho Oyu                                     8188
Dhaulagiri I                                8167
Manaslu                                     8163
Nanga Parbat                                8126
Annapurna I                                 8091
Gasherbrum I / Hidden Peak / K5             8080
Broad Peak / K3                             8051
Gasherbrum II / K4                          8035
Shishapangma                                8027
Gyachung Kang                               7952
Gasherbrum III                              7946
Annapurna II                                7937
Gasherbrum IV                               7932
Himalchuli                                  7893
Distaghil Sar                               7884
Ngadi Chuli                                 7871
Nuptse                                      7864
Khunyang Chhish                             7823
Masherbrum / K1                             7821
Nanda Devi                                  7816
Chomo Lonzo                                 7804
Batura Sar                                  7795
Kanjut Sar                                  7790
Rakaposhi                                   7788
Namcha Barwa                                7782
                                            ...
Chongtar                                    7315
Baltoro Kangri                              7312
Siguang Ri                                  7309
The Crown / Huang Guan                      7295
Gyala Peri                                  7294
Porong Ri                                   7292
Baintha Brakk / The Ogre                    7285
Yutmaru Sar                                 7283
Baltistan Peak / K6                         7282
Kangpenqing / Gang Benchhen                 7281
Muztagh Tower                               7276
Mana Peak                                   7272
Dhaulagiri VI                               7268
Diran                                       7266
Labuche Kang III / East                     7250
Putha Hiunchuli                             7246
Apsarasas Kangri                            7245
Mukut Parbat                                7242
Rimo III                                    7233
Langtang Lirung                             7227
Karjiang                                    7221
Annapurna Dakshin                           7219
Khartaphu                                   7213
Tongshanjiabu                               7207
Malangutti Sar                              7207
Noijin Kangsang / Norin Kang                7206
Langtang Ri                                 7205
Kangphu Kang                                7204
Singhi Kangri                               7202
Lupghar Sar                                 7200
Name: Height (m), Length: 118, dtype: int64

In [64]:
# multiple columns
df[['Height (m)', 'Range', 'Coordinates']]

,Height (m),Range,Coordinates
Mountain,,,
Mount Everest / Sagarmatha / Chomolungma,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿
K2 / Qogir / Godwin Austen,8611,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿
Kangchenjunga,8586,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿
Lhotse,8516,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿
Makalu,8485,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿
Cho Oyu,8188,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿
Dhaulagiri I,8167,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿
Manaslu,8163,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿
Nanga Parbat,8126,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿
Annapurna I,8091,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿
Gasherbrum I / Hidden Peak / K5,8080,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿
Broad Peak / K3,8051,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿
Gasherbrum II / K4,8035,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿
Shishapangma,8027,Jugal Himalaya,28°21′12″N 85°46′43″E﻿
Gyachung Kang,7952,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿
Gasherbrum III,7946,Baltoro Karakoram,35°45′33″N 76°38′30″E﻿
Annapurna II,7937,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿
Gasherbrum IV,7932,Baltoro Karakoram,35°45′38″N 76°36′58″E﻿
Himalchuli,7893,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿
Distaghil Sar,7884,Hispar Karakoram,36°19′33″N 75°11′16″E﻿
Ngadi Chuli,7871,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿
Nuptse,7864,Mahalangur Himalaya,27°58′03″N 86°53′13″E﻿
Khunyang Chhish,7823,Hispar Karakoram,36°12′19″N 75°12′28″E﻿
Masherbrum / K1,7821,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿
Nanda Devi,7816,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿
Chomo Lonzo,7804,Mahalangur Himalaya,27°55′50″N 87°06′28″E﻿
Batura Sar,7795,Batura Karakoram,36°30′37″N 74°31′21″E﻿
Kanjut Sar,7790,Hispar Karakoram,36°12′20″N 75°25′01″E﻿
Rakaposhi,7788,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿
Namcha Barwa,7782,Assam Himalaya,29°37′52″N 95°03′19″E﻿
...,...,...,...
Chongtar,7315,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿
Baltoro Kangri,7312,Masherbrum Karakoram,35°38′21″N 76°40′24″E﻿
Siguang Ri,7309,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿
The Crown / Huang Guan,7295,Yengisogat Karakoram,36°06′24″N 76°12′21″E﻿
Gyala Peri,7294,Assam Himalaya,29°48′52″N 94°58′07″E﻿
Porong Ri,7292,Langtang Himalaya,28°23′22″N 85°43′12″E﻿
Baintha Brakk / The Ogre,7285,Panmah Karakoram,35°56′51″N 75°45′12″E﻿
Yutmaru Sar,7283,Hispar Karakoram,36°13′35″N 75°22′02″E﻿
Baltistan Peak / K6,7282,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿
Kangpenqing / Gang Benchhen,7281,Baiku Himalaya,28°33′03″N 85°32′44″E﻿
Muztagh Tower,7276,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿
Mana Peak,7272,Garhwal Himalaya,30°52′50″N 79°36′55″E﻿
Dhaulagiri VI,7268,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿
Diran,7266,Rakaposhi-Haramosh Karakoram,36°07′13″N 74°39′42″E﻿
Labuche Kang III / East,7250,Labuche Himalaya,28°18′05″N 86°23′02″E﻿
Putha Hiunchuli,7246,Dhaulagiri Himalaya,28°44′52″N 83°08′46″E﻿
Apsarasas Kangri,7245,Siachen Karakoram,35°32′19″N 77°08′55″E﻿
Mukut Parbat,7242,Garhwal Himalaya,30°56′57″N 79°34′12″E﻿
Rimo III,7233,Rimo Karakoram,35°22′31″N 77°21′42″E﻿
Langtang Lirung,7227,Langtang Himalaya,28°15′22″N 85°31′01″E﻿
Karjiang,7221,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿
Annapurna Dakshin,7219,Annapurna Himalaya,28°31′06″N 83°48′22″E﻿
Khartaphu,7213,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿
Tongshanjiabu,7207,Lunana Himalaya,28°11′12″N 89°57′27″E﻿
Malangutti Sar,7207,Hispar Karakoram,36°21′47″N 75°08′57″E﻿
Noijin Kangsang / Norin Kang,7206,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿
Langtang Ri,7205,Langtang Himalaya,28°22′53″N 85°41′01″E﻿
Kangphu Kang,7204,Lunana Himalaya,28°09′20″N 90°03′48″E﻿
Singhi Kangri,7202,Siachen Karakoram,35°35′59″N 76°59′01″E﻿
Lupghar Sar,7200,Hispar Karakoram,36°21′01″N 75°02′13″E﻿

In [65]:
df[2:8]

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0

In [66]:
df.head(10)

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0

In [67]:
df['Lhotse':'Manaslu']

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0

# The iloc operator to select rows and columns by position

df.iloc[rows, columns]

## single position value, e.g. 3
## a list of position values, e.g. [3,5,8]
## a slice of position values, e.g. 3:8
## the : symbol to select all the rows and/or columns

In [69]:
df.iloc[3]

Height (m)                                      8516
Height (ft)                                    27940
Prominence (m)                                   610
Range                            Mahalangur Himalaya
Coordinates                  27°57′42″N 86°55′59″E﻿
Parent mountain                        Mount Everest
First ascent                                    1956
Ascents bef. 2004                                 26
Failed attempts bef. 2004                         26
Name: Lhotse, dtype: object

In [71]:
df.iloc[3,5]

'Mount Everest'

In [72]:
df.head()

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [73]:
df.iloc[3:8]

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0

In [74]:
df.iloc[:, 2:6]

,Prominence (m),Range,Coordinates,Parent mountain
Mountain,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN
K2 / Qogir / Godwin Austen,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest
Kangchenjunga,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest
Lhotse,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest
Makalu,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest
Cho Oyu,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest
Dhaulagiri I,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2
Manaslu,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu
Nanga Parbat,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri
Annapurna I,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu
Gasherbrum I / Hidden Peak / K5,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2
Broad Peak / K3,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I
Gasherbrum II / K4,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I
Shishapangma,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu
Gyachung Kang,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu
Gasherbrum III,355,Baltoro Karakoram,35°45′33″N 76°38′30″E﻿,Gasherbrum II
Annapurna II,2437,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿,Annapurna I
Gasherbrum IV,715,Baltoro Karakoram,35°45′38″N 76°36′58″E﻿,Gasherbrum III
Himalchuli,1633,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿,Manaslu
Distaghil Sar,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2
Ngadi Chuli,1020,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿,Manaslu
Nuptse,319,Mahalangur Himalaya,27°58′03″N 86°53′13″E﻿,Lhotse
Khunyang Chhish,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar
Masherbrum / K1,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I
Nanda Devi,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri
Chomo Lonzo,590,Mahalangur Himalaya,27°55′50″N 87°06′28″E﻿,Makalu
Batura Sar,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar
Kanjut Sar,1690,Hispar Karakoram,36°12′20″N 75°25′01″E﻿,Khunyang Chhish
Rakaposhi,2818,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿,Khunyang Chhish
Namcha Barwa,4106,Assam Himalaya,29°37′52″N 95°03′19″E﻿,Kangchenjunga
...,...,...,...,...
Chongtar,1300,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿,Skil Brum
Baltoro Kangri,1200,Masherbrum Karakoram,35°38′21″N 76°40′24″E﻿,Chogolisa
Siguang Ri,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu
The Crown / Huang Guan,1919,Yengisogat Karakoram,36°06′24″N 76°12′21″E﻿,Skil Brum (K2)
Gyala Peri,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest
Porong Ri,520,Langtang Himalaya,28°23′22″N 85°43′12″E﻿,Shisha Pangma
Baintha Brakk / The Ogre,1891,Panmah Karakoram,35°56′51″N 75°45′12″E﻿,Kanjut Sar
Yutmaru Sar,620,Hispar Karakoram,36°13′35″N 75°22′02″E﻿,Yukshin Gardan Sar
Baltistan Peak / K6,1962,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿,Chogolisa
Kangpenqing / Gang Benchhen,1340,Baiku Himalaya,28°33′03″N 85°32′44″E﻿,Shisha Pangma
Muztagh Tower,1710,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿,Skil Brum
Mana Peak,730,Garhwal Himalaya,30°52′50″N 79°36′55″E﻿,Kamet
Dhaulagiri VI,485,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿,Dhaulagiri IV
Diran,1325,Rakaposhi-Haramosh Karakoram,36°07′13″N 74°39′42″E﻿,Malubiting
Labuche Kang III / East,570,Labuche Himalaya,28°18′05″N 86°23′02″E﻿,Labuche Kang
Putha Hiunchuli,1151,Dhaulagiri Himalaya,28°44′52″N 83°08′46″E﻿,Churen Himal
Apsarasas Kangri,635,Siachen Karakoram,35°32′19″N 77°08′55″E﻿,Teram Kangri I
Mukut Parbat,840,Garhwal Himalaya,30°56′57″N 79°34′12″E﻿,Kamet
Rimo III,615,Rimo Karakoram,35°22′31″N 77°21′42″E﻿,Rimo I
Langtang Lirung,1525,Langtang Himalaya,28°15′22″N 85°31′01″E﻿,Shisha Pangma
Karjiang,880,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿,Kula Kangri
Annapurna Dakshin,775,Annapurna Himalaya,28°31′06″N 83°48′22″E﻿,Annapurna
Khartaphu,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest
Tongshanjiabu,1757,Lunana Himalaya,28°11′12″N 89°57′27″E﻿,Gangkar Puensum
Malangutti Sar,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar
Noijin Kangsang / Norin Kang,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum
Langtang Ri,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma
Kangphu Kang,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu
Singhi Kangri,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III
Lupghar Sar,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar

In [75]:
df.iloc[::2, 2:]

,Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
Kangchenjunga,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Makalu,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Dhaulagiri I,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Nanga Parbat,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
Gasherbrum I / Hidden Peak / K5,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16.0
Gasherbrum II / K4,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12.0
Gyachung Kang,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964,5,3.0
Annapurna II,2437,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿,Annapurna I,1960,6,19.0
Himalchuli,1633,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿,Manaslu,1960,6,12.0
Ngadi Chuli,1020,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿,Manaslu,1970,2,6.0
Khunyang Chhish,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971,2,6.0
Nanda Devi,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936,14,12.0
Batura Sar,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976,4,6.0
Rakaposhi,2818,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿,Khunyang Chhish,1958,8,13.0
Kamet,2825,Garhwal Himalaya,30°55′12″N 79°35′30″E﻿,Nanda Devi,1931,23,14.0
Saltoro Kangri / K10,2160,Saltoro Karakoram,35°23′57″N 76°50′53″E﻿,Gasherbrum I,1962,2,1.0
Tirich Mir,3910,Hindu Kush,36°15′19″N 71°50′30″E﻿,Batura Sar,1950,20,11.0
Gurla Mandhata,2788,Nalakankar Himalaya,30°26′19″N 81°17′48″E﻿,Dhaulagiri,1985,6,4.0
Chogolisa,1624,Masherbrum Karakoram,35°36′47″N 76°34′29″E﻿,Masherbrum,1975,4,2.0
Kongur Tagh,3585,Kongur Shan (Eastern Pamirs),38°35′36″N 75°18′48″E﻿,Distaghil Sar,1981,2,4.0
Shispare,1240,Batura Karakoram,36°26′26″N 74°40′51″E﻿,Batura Sar,1974,3,1.0
Gangkhar Puensum,2995,Kula Kangri Himalaya,28°02′50″N 90°27′19″E﻿,Kangchenjunga,unclimbed,0,3.0
Annapurna III,703,Annapurna Himalaya,28°35′06″N 83°59′24″E﻿,Annapurna I,1961,10,17.0
Skyang Kangri,1085,Baltoro Karakoram,35°55′35″N 76°34′03″E﻿,K2,1976,1,2.0
Kula Kangri,1650,Kula Kangri Himalaya,28°13′37″N 90°36′59″E﻿,Gangkhar Puensum,1986,3,2.0
Mamostong Kangri,1803,Rimo Karakoram,35°08′31″N 77°34′39″E﻿,Gasherbrum I,1984,5,0.0
Ismoil Somoni Peak,3402,Pamir (Akademiya Nauk Range),38°56′35″N 72°00′57″E﻿,Muztagh Ata,1933,NaN,NaN
Noshaq,2024,Hindu Kush,36°25′56″N 71°49′43″E﻿,Tirich Mir,1960,33,3.0
Passu Sar,645,Batura Karakoram,36°29′16″N 74°35′16″E﻿,Batura Sar,1994,1,0.0
Teram Kangri I,1702,Siachen Karakoram,35°34′48″N 77°04′42″E﻿,Gasherbrum I,1975,2,0.0
Malubiting,2193,Rakaposhi-Haramosh Karakoram,36°00′12″N 74°52′31″E﻿,Rakaposhi,1971,2,6.0
Jengish Chokusu / Tömür / Pk Pobeda,4148,Tian Shan,42°02′05″N 80°07′47″E﻿,Ismail Samani Peak,1938,NaN,NaN
K12,1978,Saltoro Karakoram,35°17′45″N 77°01′20″E﻿,Saltoro Kangri,1974,4,2.0
Sia Kangri,640,Siachen Karakoram,35°39′48″N 76°45′42″E﻿,Gasherbrum I,1934,6,0.0
Kabru N,780,Kangchenjunga Himalaya,27°38′02″N 88°07′00″E﻿,Kangchenjunga,1994,1,2.0
Haramosh Peak,2277,Rakaposhi-Haramosh Karakoram,35°50′24″N 74°53′51″E﻿,Malubiting,1958,4,3.0
Ghent Kangri,1493,Saltoro Karakoram,35°31′04″N 76°48′02″E﻿,Saltoro Kangri,1961,4,0.0
Rimo I,1438,Rimo Karakoram,35°21′18″N 77°22′08″E﻿,Teram Kangri I,1988,1,3.0
Teram Kangri III,520,Siachen Karakoram,35°35′59″N 77°02′53″E﻿,Teram Kangri I,1979,1,0.0
Labuche Kang,1957,Labuche Himalaya,28°18′15″N 86°21′03″E﻿,Cho Oyu,1987,1,0.0
Abi Gamin,217,Garhwal Himalaya,30°55′57″N 79°36′09″E﻿,Kamet,1950,17,2.0
Gimmigela / The Twins,432,Kangchenjunga Himalaya,27°44′27″N 88°09′31″E﻿,Kangchenjunga,1994,3,1.0
Jomolhari,2077,Jomolhari Himalaya,27°49′36″N 89°16′04″E﻿,Gangkhar Puensum,1937,4,0.0
Chongtar,1300,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿,Skil Brum,1994,1,1.0
Siguang Ri,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu,1989,2,1.0
Gyala Peri,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest,1986,1,0.0
Baintha Brakk / The Ogre,1891,Panmah Karakoram,35°56′51″N 75°45′12″E﻿,Kanjut Sar,1977,3,13.0
Baltistan Peak / K6,1962,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿,Chogolisa,1970,1,3.0
Muztagh Tower,1710,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿,Skil Brum,1956,4,2.0
Dhaulagiri VI,485,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿,Dhaulagiri IV,1970,5,0.0
Labuche Kang III / East,570,Labuche Himalaya,28°18′05″N 86°23′02″E﻿,Labuche Kang,unclimbed,0,0.0
Apsarasas Kangri,635,Siachen Karakoram,35°32′19″N 77°08′55″E﻿,Teram Kangri I,1976,2,0.0
Rimo III,615,Rimo Karakoram,35°22′31″N 77°21′42″E﻿,Rimo I,1985,1,0.0
Karjiang,880,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿,Kula Kangri,unclimbed,0,2.0
Khartaphu,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest,1935,1,0.0
Malangutti Sar,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar,1985,1,0.0
Langtang Ri,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981,4,0.0
Singhi Kangri,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976,2,0.0

# The loc operator to select rows and columns by label

df.loc[rows, columns]

In [76]:
df.loc[:,'Height (m)':'First ascent']

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent
Mountain,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953
K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956
Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953
Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950
Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958
Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957
Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956
Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964
Gyachung Kang,7952,26089,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964
Gasherbrum III,7946,26070,355,Baltoro Karakoram,35°45′33″N 76°38′30″E﻿,Gasherbrum II,1975
Annapurna II,7937,26040,2437,Annapurna Himalaya,28°32′05″N 84°07′19″E﻿,Annapurna I,1960
Gasherbrum IV,7932,26024,715,Baltoro Karakoram,35°45′38″N 76°36′58″E﻿,Gasherbrum III,1958
Himalchuli,7893,25896,1633,Manaslu Himalaya,28°26′12″N 84°38′23″E﻿,Manaslu,1960
Distaghil Sar,7884,25866,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2,1960
Ngadi Chuli,7871,25823,1020,Manaslu Himalaya,28°30′12″N 84°34′00″E﻿,Manaslu,1970
Nuptse,7864,25801,319,Mahalangur Himalaya,27°58′03″N 86°53′13″E﻿,Lhotse,1961
Khunyang Chhish,7823,25666,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971
Masherbrum / K1,7821,25659,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I,1960
Nanda Devi,7816,25643,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936
Chomo Lonzo,7804,25604,590,Mahalangur Himalaya,27°55′50″N 87°06′28″E﻿,Makalu,1954
Batura Sar,7795,25574,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976
Kanjut Sar,7790,25558,1690,Hispar Karakoram,36°12′20″N 75°25′01″E﻿,Khunyang Chhish,1959
Rakaposhi,7788,25551,2818,Rakaposhi-Haramosh Karakoram,36°08′33″N 74°29′22″E﻿,Khunyang Chhish,1958
Namcha Barwa,7782,25531,4106,Assam Himalaya,29°37′52″N 95°03′19″E﻿,Kangchenjunga,1992
...,...,...,...,...,...,...,...
Chongtar,7315,23999,1300,Baltoro Karakoram,35°54′55″N 76°25′45″E﻿,Skil Brum,1994
Baltoro Kangri,7312,23990,1200,Masherbrum Karakoram,35°38′21″N 76°40′24″E﻿,Chogolisa,1976
Siguang Ri,7309,23980,650,Mahalangur Himalaya,28°08′50″N 86°41′06″E﻿,Cho Oyu,1989
The Crown / Huang Guan,7295,23934,1919,Yengisogat Karakoram,36°06′24″N 76°12′21″E﻿,Skil Brum (K2),1993
Gyala Peri,7294,23930,2942,Assam Himalaya,29°48′52″N 94°58′07″E﻿,Mount Everest,1986
Porong Ri,7292,23924,520,Langtang Himalaya,28°23′22″N 85°43′12″E﻿,Shisha Pangma,1982
Baintha Brakk / The Ogre,7285,23901,1891,Panmah Karakoram,35°56′51″N 75°45′12″E﻿,Kanjut Sar,1977
Yutmaru Sar,7283,23894,620,Hispar Karakoram,36°13′35″N 75°22′02″E﻿,Yukshin Gardan Sar,1980
Baltistan Peak / K6,7282,23891,1962,Masherbrum Karakoram,35°25′06″N 76°33′06″E﻿,Chogolisa,1970
Kangpenqing / Gang Benchhen,7281,23888,1340,Baiku Himalaya,28°33′03″N 85°32′44″E﻿,Shisha Pangma,1982
Muztagh Tower,7276,23871,1710,Baltoro Karakoram,35°49′40″N 76°21′40″E﻿,Skil Brum,1956
Mana Peak,7272,23858,730,Garhwal Himalaya,30°52′50″N 79°36′55″E﻿,Kamet,1937
Dhaulagiri VI,7268,23845,485,Dhaulagiri Himalaya,28°42′31″N 83°16′27″E﻿,Dhaulagiri IV,1970
Diran,7266,23839,1325,Rakaposhi-Haramosh Karakoram,36°07′13″N 74°39′42″E﻿,Malubiting,1968
Labuche Kang III / East,7250,23786,570,Labuche Himalaya,28°18′05″N 86°23′02″E﻿,Labuche Kang,unclimbed
Putha Hiunchuli,7246,23773,1151,Dhaulagiri Himalaya,28°44′52″N 83°08′46″E﻿,Churen Himal,1954
Apsarasas Kangri,7245,23770,635,Siachen Karakoram,35°32′19″N 77°08′55″E﻿,Teram Kangri I,1976
Mukut Parbat,7242,23760,840,Garhwal Himalaya,30°56′57″N 79°34′12″E﻿,Kamet,1951
Rimo III,7233,23730,615,Rimo Karakoram,35°22′31″N 77°21′42″E﻿,Rimo I,1985
Langtang Lirung,7227,23711,1525,Langtang Himalaya,28°15′22″N 85°31′01″E﻿,Shisha Pangma,1978
Karjiang,7221,23691,880,Kula Kangri Himalaya,28°15′27″N 90°38′49″E﻿,Kula Kangri,unclimbed
Annapurna Dakshin,7219,23684,775,Annapurna Himalaya,28°31′06″N 83°48′22″E﻿,Annapurna,1964
Khartaphu,7213,23665,712,Mahalangur Himalaya,28°03′49″N 86°58′39″E﻿,Mount Everest,1935
Tongshanjiabu,7207,23645,1757,Lunana Himalaya,28°11′12″N 89°57′27″E﻿,Gangkar Puensum,unclimbed
Malangutti Sar,7207,23645,515,Hispar Karakoram,36°21′47″N 75°08′57″E﻿,Distaghil Sar,1985
Noijin Kangsang / Norin Kang,7206,23642,2160,Nagarze Himalaya,28°56′48″N 90°10′42″E﻿,Gangkar Puensum,1986
Langtang Ri,7205,23638,650,Langtang Himalaya,28°22′53″N 85°41′01″E﻿,Shisha Pangma,1981
Kangphu Kang,7204,23635,1200,Lunana Himalaya,28°09′20″N 90°03′48″E﻿,Tongshanjiabu,2002
Singhi Kangri,7202,23629,790,Siachen Karakoram,35°35′59″N 76°59′01″E﻿,Teram Kangri III,1976
Lupghar Sar,7200,23622,730,Hispar Karakoram,36°21′01″N 75°02′13″E﻿,Momhil Sar,1979

In [77]:
df.loc[:,'Height (m)':'First ascent':2]

,Height (m),Prominence (m),Coordinates,First ascent
Mountain,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,8848,27°59′17″N 86°55′31″E﻿,1953
K2 / Qogir / Godwin Austen,8611,4017,35°52′53″N 76°30′48″E﻿,1954
Kangchenjunga,8586,3922,27°42′12″N 88°08′51″E﻿,1955
Lhotse,8516,610,27°57′42″N 86°55′59″E﻿,1956
Makalu,8485,2386,27°53′23″N 87°05′20″E﻿,1955
Cho Oyu,8188,2340,28°05′39″N 86°39′39″E﻿,1954
Dhaulagiri I,8167,3357,28°41′48″N 83°29′35″E﻿,1960
Manaslu,8163,3092,28°33′00″N 84°33′35″E﻿,1956
Nanga Parbat,8126,4608,35°14′14″N 74°35′21″E﻿,1953
Annapurna I,8091,2984,28°35′44″N 83°49′13″E﻿,1950
Gasherbrum I / Hidden Peak / K5,8080,2155,35°43′28″N 76°41′47″E﻿,1958
Broad Peak / K3,8051,1701,35°48′38″N 76°34′06″E﻿,1957
Gasherbrum II / K4,8035,1524,35°45′28″N 76°39′12″E﻿,1956
Shishapangma,8027,2897,28°21′12″N 85°46′43″E﻿,1964
Gyachung Kang,7952,700,28°05′53″N 86°44′42″E﻿,1964
Gasherbrum III,7946,355,35°45′33″N 76°38′30″E﻿,1975
Annapurna II,7937,2437,28°32′05″N 84°07′19″E﻿,1960
Gasherbrum IV,7932,715,35°45′38″N 76°36′58″E﻿,1958
Himalchuli,7893,1633,28°26′12″N 84°38′23″E﻿,1960
Distaghil Sar,7884,2525,36°19′33″N 75°11′16″E﻿,1960
Ngadi Chuli,7871,1020,28°30′12″N 84°34′00″E﻿,1970
Nuptse,7864,319,27°58′03″N 86°53′13″E﻿,1961
Khunyang Chhish,7823,1765,36°12′19″N 75°12′28″E﻿,1971
Masherbrum / K1,7821,2457,35°38′28″N 76°18′21″E﻿,1960
Nanda Devi,7816,3139,30°22′33″N 79°58′15″E﻿,1936
Chomo Lonzo,7804,590,27°55′50″N 87°06′28″E﻿,1954
Batura Sar,7795,3118,36°30′37″N 74°31′21″E﻿,1976
Kanjut Sar,7790,1690,36°12′20″N 75°25′01″E﻿,1959
Rakaposhi,7788,2818,36°08′33″N 74°29′22″E﻿,1958
Namcha Barwa,7782,4106,29°37′52″N 95°03′19″E﻿,1992
...,...,...,...,...
Chongtar,7315,1300,35°54′55″N 76°25′45″E﻿,1994
Baltoro Kangri,7312,1200,35°38′21″N 76°40′24″E﻿,1976
Siguang Ri,7309,650,28°08′50″N 86°41′06″E﻿,1989
The Crown / Huang Guan,7295,1919,36°06′24″N 76°12′21″E﻿,1993
Gyala Peri,7294,2942,29°48′52″N 94°58′07″E﻿,1986
Porong Ri,7292,520,28°23′22″N 85°43′12″E﻿,1982
Baintha Brakk / The Ogre,7285,1891,35°56′51″N 75°45′12″E﻿,1977
Yutmaru Sar,7283,620,36°13′35″N 75°22′02″E﻿,1980
Baltistan Peak / K6,7282,1962,35°25′06″N 76°33′06″E﻿,1970
Kangpenqing / Gang Benchhen,7281,1340,28°33′03″N 85°32′44″E﻿,1982
Muztagh Tower,7276,1710,35°49′40″N 76°21′40″E﻿,1956
Mana Peak,7272,730,30°52′50″N 79°36′55″E﻿,1937
Dhaulagiri VI,7268,485,28°42′31″N 83°16′27″E﻿,1970
Diran,7266,1325,36°07′13″N 74°39′42″E﻿,1968
Labuche Kang III / East,7250,570,28°18′05″N 86°23′02″E﻿,unclimbed
Putha Hiunchuli,7246,1151,28°44′52″N 83°08′46″E﻿,1954
Apsarasas Kangri,7245,635,35°32′19″N 77°08′55″E﻿,1976
Mukut Parbat,7242,840,30°56′57″N 79°34′12″E﻿,1951
Rimo III,7233,615,35°22′31″N 77°21′42″E﻿,1985
Langtang Lirung,7227,1525,28°15′22″N 85°31′01″E﻿,1978
Karjiang,7221,880,28°15′27″N 90°38′49″E﻿,unclimbed
Annapurna Dakshin,7219,775,28°31′06″N 83°48′22″E﻿,1964
Khartaphu,7213,712,28°03′49″N 86°58′39″E﻿,1935
Tongshanjiabu,7207,1757,28°11′12″N 89°57′27″E﻿,unclimbed
Malangutti Sar,7207,515,36°21′47″N 75°08′57″E﻿,1985
Noijin Kangsang / Norin Kang,7206,2160,28°56′48″N 90°10′42″E﻿,1986
Langtang Ri,7205,650,28°22′53″N 85°41′01″E﻿,1981
Kangphu Kang,7204,1200,28°09′20″N 90°03′48″E﻿,2002
Singhi Kangri,7202,790,35°35′59″N 76°59′01″E﻿,1976
Lupghar Sar,7200,730,36°21′01″N 75°02′13″E﻿,1979

# Boolean selection

In [79]:
df['Height (m)'] > 8000

Mountain
Mount Everest / Sagarmatha / Chomolungma     True
K2 / Qogir / Godwin Austen                   True
Kangchenjunga                                True
Lhotse                                       True
Makalu                                       True
Cho Oyu                                      True
Dhaulagiri I                                 True
Manaslu                                      True
Nanga Parbat                                 True
Annapurna I                                  True
Gasherbrum I / Hidden Peak / K5              True
Broad Peak / K3                              True
Gasherbrum II / K4                           True
Shishapangma                                 True
Gyachung Kang                               False
Gasherbrum III                              False
Annapurna II                                False
Gasherbrum IV                               False
Himalchuli                                  False
Distaghil Sar                               False
Ngadi Chuli                                 False
Nuptse                                      False
Khunyang Chhish                             False
Masherbrum / K1                             False
Nanda Devi                                  False
Chomo Lonzo                                 False
Batura Sar                                  False
Kanjut Sar                                  False
Rakaposhi                                   False
Namcha Barwa                                False
                                            ...
Chongtar                                    False
Baltoro Kangri                              False
Siguang Ri                                  False
The Crown / Huang Guan                      False
Gyala Peri                                  False
Porong Ri                                   False
Baintha Brakk / The Ogre                    False
Yutmaru Sar                                 False
Baltistan Peak / K6                         False
Kangpenqing / Gang Benchhen                 False
Muztagh Tower                               False
Mana Peak                                   False
Dhaulagiri VI                               False
Diran                                       False
Labuche Kang III / East                     False
Putha Hiunchuli                             False
Apsarasas Kangri                            False
Mukut Parbat                                False
Rimo III                                    False
Langtang Lirung                             False
Karjiang                                    False
Annapurna Dakshin                           False
Khartaphu                                   False
Tongshanjiabu                               False
Malangutti Sar                              False
Noijin Kangsang / Norin Kang                False
Langtang Ri                                 False
Kangphu Kang                                False
Singhi Kangri                               False
Lupghar Sar                                 False
Name: Height (m), Length: 118, dtype: bool

In [80]:
df[df['Height (m)'] > 8000]

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0
Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16.0
Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957,39,19.0
Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12.0
Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964,43,19.0

In [81]:
df[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya')]

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0

In [82]:
df.loc[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya'), :]

,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Mountain,,,,,,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0

In [83]:
df.loc[(df['Height (m)'] > 8000) & (df['Range']=='Mahalangur Himalaya'), 'Height (m)':'Range']

,Height (m),Height (ft),Prominence (m),Range
Mountain,,,,
Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya
Lhotse,8516,27940,610,Mahalangur Himalaya
Makalu,8485,27838,2386,Mahalangur Himalaya
Cho Oyu,8188,26864,2340,Mahalangur Himalaya

# Applying functions

### The map() method

In [84]:
df = pd.DataFrame( {'user' : [1,2,3], 'age' : [24,54,17],
                    'sex' : ['F','F','M'],
                    'occupation' : ['technician','musician','student']})
df

   age  occupation sex  user
0   24  technician   F     1
1   54    musician   F     2
2   17     student   M     3

In [85]:
df['sex'] = df.sex.map({'F':'Female', 'M':'Male'})
df

   age  occupation     sex  user
0   24  technician  Female     1
1   54    musician  Female     2
2   17     student    Male     3

### The apply() method

In [86]:
def dog_years(x):
    return x // 7

In [87]:
df['age_dog_years'] = df['age'].apply(dog_years)
df

   age  occupation     sex  user  age_dog_years
0   24  technician  Female     1              3
1   54    musician  Female     2              7
2   17     student    Male     3              2

In [89]:
df2 = pd.DataFrame(np.arange(9).reshape(3,3), columns=['a','b', 'c'])
df2

   a  b  c
0  0  1  2
1  3  4  5
2  6  7  8

In [90]:
def my_sum(x):
    return sum(x)

In [91]:
# along axis 0 meaning down the data frame which will return the sum along each column
df2.apply(my_sum, axis=0)

a     9
b    12
c    15
dtype: int64

In [92]:
# along axis 1 meaning across the data frame which will return the sum along each row
df2.apply(my_sum, axis=1)

0     3
1    12
2    21
dtype: int64

In [94]:
# finds the maximum entry in each row 
df2.apply(np.max, axis = 1)

0    2
1    5
2    8
dtype: int64

In [95]:
#find2 the mean of each column
df2.apply(np.mean, axis = 0)

a    3.0
b    4.0
c    5.0
dtype: float64

### The applymap() method

In [96]:
def add_two(x):
    return x+2

In [97]:
df2.applymap(add_two)

   a  b   c
0  2  3   4
1  5  6   7
2  8  9  10

# Sorting

In [98]:
df = pd.DataFrame({'A':[3,6,1,12,3],'B':[0,0,7,5,6],'C':[10,4,5,8,2]})
df

    A  B   C
0   3  0  10
1   6  0   4
2   1  7   5
3  12  5   8
4   3  6   2

### Sort by index

In [99]:
df.sort_index()

    A  B   C
0   3  0  10
1   6  0   4
2   1  7   5
3  12  5   8
4   3  6   2

In [100]:
df.sort_index(ascending=False)

    A  B   C
4   3  6   2
3  12  5   8
2   1  7   5
1   6  0   4
0   3  0  10

In [101]:
df.sort_index(ascending=False, axis=1)

    C  B   A
0  10  0   3
1   4  0   6
2   5  7   1
3   8  5  12
4   2  6   3

### Sort by values

In [102]:
df.A.sort_values()

2     1
0     3
4     3
1     6
3    12
Name: A, dtype: int64

In [103]:
df.sort_values('A')

    A  B   C
2   1  7   5
0   3  0  10
4   3  6   2
1   6  0   4
3  12  5   8

In [104]:
df.sort_values(['A','C'])

    A  B   C
2   1  7   5
4   3  6   2
0   3  0  10
1   6  0   4
3  12  5   8

# Grouping

In [106]:
df = pd.DataFrame({
       'A' : ['dog', 'cat', 'dog', 'cat', 'dog', 'cat', 'dog', 'dog'],
       'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
       'C' : np.random.randint(10, size=8)})
df

     A      B  C
0  dog    one  3
1  cat    one  1
2  dog    two  7
3  cat  three  1
4  dog    two  5
5  cat    two  2
6  dog    one  1
7  dog  three  4

In [107]:
df.C.mean()

3.0

In [108]:
df.groupby('A').C.mean()

A
cat    1.333333
dog    4.000000
Name: C, dtype: float64

In [109]:
df[df.A=='dog'].C.mean()

4.0

# Handling missing values

In [111]:
df = pd.DataFrame(np.random.randint(10, size=(3, 3)), index=['a', 'c', 'e'], columns=['A', 'B', 'C'])
df

   A  B  C
a  3  9  1
c  9  8  4
e  2  4  3

In [113]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
df2

     A    B    C
a  3.0  9.0  1.0
b  NaN  NaN  NaN
c  9.0  8.0  4.0
d  NaN  NaN  NaN
e  2.0  4.0  3.0
f  NaN  NaN  NaN

# isnull() method

In [114]:
df2.isnull()

       A      B      C
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f   True   True   True

In [115]:
df2.isnull().sum()

A    3
B    3
C    3
dtype: int64

In [116]:
df2.isnull().sum(axis=1)

a    0
b    3
c    0
d    3
e    0
f    3
dtype: int64

In [117]:
df2[df2.A.isnull()]

    A   B   C
b NaN NaN NaN
d NaN NaN NaN
f NaN NaN NaN

# dropna() method

In [118]:
df2.dropna()

     A    B    C
a  3.0  9.0  1.0
c  9.0  8.0  4.0
e  2.0  4.0  3.0

In [119]:
df2

     A    B    C
a  3.0  9.0  1.0
b  NaN  NaN  NaN
c  9.0  8.0  4.0
d  NaN  NaN  NaN
e  2.0  4.0  3.0
f  NaN  NaN  NaN

In [120]:
# drop a row if it has a missing value in all of the columns
df2.dropna(how='all')

     A    B    C
a  3.0  9.0  1.0
c  9.0  8.0  4.0
e  2.0  4.0  3.0

In [121]:
# drop a row if it has a missing value in column 'A'
df2.dropna(subset=['A'])

     A    B    C
a  3.0  9.0  1.0
c  9.0  8.0  4.0
e  2.0  4.0  3.0

In [122]:
# drop a row if it has a missing value in column 'A' or column B
df2.dropna(subset=['A','B'])

     A    B    C
a  3.0  9.0  1.0
c  9.0  8.0  4.0
e  2.0  4.0  3.0

# fillna() method

In [125]:
df2.fillna(value=0)

     A    B    C
a  3.0  9.0  1.0
b  0.0  0.0  0.0
c  9.0  8.0  4.0
d  0.0  0.0  0.0
e  2.0  4.0  3.0
f  0.0  0.0  0.0